*{
  list-style: none;
  text-decoration: none;
}



nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

li {
  margin-right: 20px;
  text-decoration: none;
  list-style: none;

}

.active {
  color: brown; 
}




.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 20px;
  width: 300px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin: 0 0 10px;
  color: #333;
}

.card-description {
  font-size: 1em;
  margin: 0;
  color: #666;
}




.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



